.idea/
venv/

#cache
.cache/
.mypy_cache/
__pycache__/
.pytest_cache/

.coverage

#logs
logs/

#data file
data_engineering/data_pipeline/news/data/
data_engineering/data_pipeline/price/data/
data_modeling/data_preprocessing/data/
data_pipeline/data

#notebooks
notebooks/.ipynb_checkpoints/

#dask worker space
notebooks/dask-worker-space/
data_pipeline/dask-worker-space/

#artifacts
mlruns/

