.idea/
venv/

#cache
.cache/
.mypy_cache/
__pycache__/

.coverage

#logs
logs/

#data file
data_pipeline/data/

#notebooks
notebooks/.ipynb_checkpoints/

#dask worker space
notebooks/dask-worker-space/
data_pipeline/dask-worker-space/

