numpy==1.18.3
pandas==1.0.3
pyarrow==0.17.0
GitPython==3.1.1
plotly==4.6.0
scipy==1.4.1
dask[dataframe]
dask[distributed]
nltk==3.5
textblob==0.15.3
scikit-learn==0.23.1
spacy==2.2.4

#utils
pre-commit==2.3.0
black==19.10b0
nb-black==1.0.7
mypy==0.770
nbstripout==0.3.7
mlflow==1.8.0

#web scraping
bs4==0.0.1
requests==2.31.0

#notebook
ipykernel==5.2.1

#tests
pytest==5.4.1
pytest-cov==2.8.1
